@model CMS.Web.ViewModels.OfflineTestStudentMarksViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details Offline Test Student Marks</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TotalMarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalMarks)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MarksObtained)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MarksObtained)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BranchName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BranchName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BatchName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BatchName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ClassName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClassName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubjectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubjectName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OfflineTestStudentMarksId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
