@model IEnumerable<CMS.Web.ViewModels.InstallmentViewModel>

@{
    ViewBag.Title = "FeesDetails";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}

<h2>Fee Details</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Payment)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.RemainingFee)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedOn)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Payment)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.RemainingFee)
        </td>
    </tr>
}

</table>
