@model CMS.Web.ViewModels.StudentViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Student List</h2>
<p>
    @Html.ActionLink("Create New Student", "Create")
</p>
<div class="well">
    <div class="form-inline">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="First name"
                   data-mvcgrid-type="filter" data-mvcgrid-option="FirstName" />
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Last Name"
                   data-mvcgrid-type="filter" data-mvcgrid-option="LastName" />
        </div>
        @Html.DropDownList("ClassList", new SelectList(ViewBag.ClassList, "Value", "Text"),
                    "All Classes", new { @class = "form-control", @data_mvcgrid_type = "filter", @data_mvcgrid_option = "ClassName" })
        <button type="button" class="btn btn-default" data-mvcgrid-apply-filter="click">Search</button>
        <input type="submit" value="Reset" id="Submit" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Student")'" />
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        @Html.Partial("_MVCGridToolbar", new CMS.Web.Models.MVCGridToolbarModel()
   
   {
       MVCGridName = "StudentGrid",
       PageSize = true,
       ColumnVisibility = true,
       Export = true,
       GlobalSearch = false
   })
        @Html.MVCGrid("StudentGrid", new { userRole = ViewBag.userId })
    </div>
</div>
